<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJizQ7tFlMONmtHs30KYgcgqkYbf84J1w</string>
	<key>GCM_SENDER_ID</key>
	<string>756173239511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delivary</string>
	<key>PROJECT_ID</key>
	<string>erp-push-notifications-501fc</string>
	<key>STORAGE_BUCKET</key>
	<string>erp-push-notifications-501fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756173239511:ios:552def1de384ed386e6c92</string>
</dict>
</plist>